@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(60% 0.25 292.717);
	--color-primary-content: oklch(96% 0.016 293.756);
	--color-secondary: oklch(70% 0.14 182.503);
	--color-secondary-content: oklch(98% 0.014 180.72);
	--color-accent: oklch(58% 0.233 277.117);
	--color-accent-content: oklch(96% 0.018 272.314);
	--color-neutral: oklch(14% 0.004 49.25);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(68% 0.162 75.834);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 2rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

/* ::view-transition {
	transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	transition-property: transform, opacity, background-color, color, filter;
	will-change: transform, opacity;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

::view-transition-old(root) {
	opacity: 0;
	transform: scale(0.98);
}

::view-transition-new(root) {
	opacity: 1;
	transform: scale(1);
} */

::view-transition-old(page-create-dao),
::view-transition-new(page-create-dao) {
	transition: transform 0.5s ease, opacity 0.3s ease;
}

::view-transition-old(page-create-dao) {
	opacity: 0;
	transform: translateX(-50px) scale(0.9) rotate(-3deg);
}

::view-transition-new(page-create-dao) {
	opacity: 1;
	transform: translateX(0) scale(1) rotate(0);
}

/* ::view-transition-old(page-create-dao) {
	animation: slideOutRight 0.4s ease forwards;
}
::view-transition-new(page-create-dao) {
	animation: slideInLeft 0.4s ease forwards;
} */
